ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidebar {
  background: #191919;
  color: white;
  line-height: 35px;
  height: 100%;
  text-align: left;
  width: 60px;
  position: fixed;
  transition: 0.5s;
}

.sidebar.visible {
  transition: 0.2s;
  width: 188px;
}

.sidebar.visible .toggle-menu {
  padding-right: 10px;
  transition: 1.5s;
}

.sidebar.visible .ajax {
  display: inline;
  padding-right: 20px;
}

.sidebar.visible .logo {
  text-align: right;
}

.sidebar.visible .icon {
  transition: .5s;
  color: white;
}

.sidebar.visible .men {
  display: block;
}

.sidebar.visible .menager {
  display: block;
}

.sidebar.visible .photo {
  display: none;
}

.logo {
  text-align: center;
  font-family: "Merienda", cursive;
  font-weight: bold;
  font-size: 23px;
}

.logo > a.visible {
  padding-right: 10px;
}

.ajax {
  display: none;
}

.toggle-menu {
  text-decoration: none;
  transition: 1s;
  color: white;
}

.info {
  padding-left: 17px;
  font-weight: 300;
  height: 40px;
  font-size: 15px;
  color: #999999;
}

.info:hover {
  background-color: #282828;
  border-left: 4px solid #f58220;
}

#manager {
  margin-top: 60px;
}

.men {
  margin-top: 40px;
  border-top: 1px solid #333333;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.28px;
  color: #808080;
  padding: 5px 30px;
  display: none;
}

.michael {
  color: #56819f;
  font-size: 14px;
  font-weight: 300;
  padding-left: 18px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.michael a {
  width: 100px;
  padding: 18px;
}

.menager {
  display: none;
}

.menager img {
  border-radius: 50%;
  width: 43px;
  height: 43px;
  -o-object-fit: cover;
  object-fit: cover;
}

.photo {
  margin-top: 15px;
  margin-left: 7px;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

.info-link {
  color: #a6a6a6;
}

.icon {
  color: grey;
  width: 40px;
  transition: .5s;
}

@media (max-width: 768px) {
  .sidebar {
    transition: 0.2s;
    width: 100%;
    height: 100%;
    font-size: 80px;
    overflow: auto;
  }
  .sidebar.visible {
    width: 65px;
  }
  .sidebar.visible .toggle-menu {
    padding-top: 10px;
    padding-right: 21px;
    padding-left: 5px;
  }
  .sidebar.visible .michael {
    display: none;
  }
  .sidebar.visible .photo {
    display: block;
  }
  .sidebar.visible .men {
    display: none;
  }
  .sidebar.visible .icon {
    color: #999999;
  }
  .sidebar.visible .ajax {
    display: none;
  }
  .logo {
    text-align: center;
    padding-top: 10px;
  }
  .info {
    font-size: 25px;
    margin: 20px 0;
    padding-left: 15px;
  }
  .logo > a {
    font-size: 30px;
    padding-left: 21vw;
  }
  .men {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: white;
  }
  .menager {
    display: block;
  }
}

.howtop:hover {
  background-color: #f5f5f2;
}

.fix {
  margin-right: -5px;
}

.jingle {
  padding: 0;
}

.fa-chevron-down {
  padding-left: 10px;
}

.value {
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
  color: #9c9c9c;
}

nav {
  background-color: #ffffff;
  text-align: right;
  padding: 12px 0 16px;
  width: auto;
}

nav a {
  color: #9c9c9c;
  text-decoration: none;
  width: 100px;
  padding: 16px;
  border-left: 1.5px solid #e3e3e3;
}

nav a:hover {
  color: #ffa200;
}

nav li {
  display: inline-block;
  position: relative;
}

.user {
  color: #56819f;
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
  padding-left: 7px;
}

.user:hover {
  color: #ffa200;
}

.links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin: 20px;
  margin-left: 210px;
}

.links p {
  line-height: 42px;
  color: #ffffff;
  font-size: 18px;
}

.addflex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}

.button {
  width: 127px;
  height: 40px;
  background-color: #f58220;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 3px;
  margin: 20px 0 20px 0;
}

.button:hover {
  background-color: #ffa200;
  cursor: pointer;
}

.text {
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
}

#link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

#link a {
  text-decoration: none;
  color: #56819f;
}

#link a:hover {
  color: #ffa200;
}

.link {
  transform: rotate(45deg);
}

.fa-trash-alt {
  margin-left: 30px;
  margin-right: 28px;
}

.links-icon:hover {
  color: #f58220;
}

.leftside {
  color: #a6a6a6;
  font-weight: 700;
  line-height: 42px;
  padding-left: 20px;
}

.rightside {
  text-align: left;
  color: #333333;
  width: 25vh;
  line-height: 42px;
  margin-right: 187px;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: justify;
}

.layer {
  display: inline-block;
  line-height: 42px;
  font-size: 13px;
  color: #999999;
  display: none;
}

.reference {
  border-bottom: 1px solid #e3e3e3;
  width: 70.7vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.reference:hover {
  background: whitesmoke;
}

.reference:hover .layer {
  display: inline-block;
}

.reference:hover .rightside {
  width: 50%;
  margin: auto;
  margin-right: unset;
}

.stats {
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: block;
  margin: 20px;
  margin-left: 210px;
}

.section-title {
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid #e3e3e3;
  color: #a6a6a6;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.calendar {
  border: 1px solid #e3e3e3;
  margin: 20px;
  padding: 10px;
  color: grey;
  width: auto;
  display: inline-block;
  border-radius: 3px;
  margin-top: 19px;
}

.calendar:hover {
  border: 1px solid #b1b1b1;
  cursor: pointer;
}

.calendar:hover .data {
  color: #333333;
  cursor: pointer;
}

input {
  width: 100px;
  border-right: 1px solid #ccc;
  display: inline-block;
  padding: 1px 12px;
  cursor: pointer;
  border: 0px;
}

.left {
  border-right: 1px solid #e3e3e3;
  font-size: 14px;
}

.right {
  padding-left: 10px;
  font-size: 14px;
}

.data {
  color: #9c9c9c;
  padding-left: 5px;
}

.btnarrow {
  background: #f58220;
  padding: 10px;
  color: white;
  border-radius: 15%;
  border: none;
}

.btnarrow::hover {
  background-color: #ffa200;
  cursor: pointer;
}

.numbers {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.bord {
  border-top: 1px solid #e3e3e3;
  padding-top: 20px;
}

.facts {
  border-bottom: 1px solid #e3e3e3;
  width: 310px;
}

.leftword {
  color: #a6a6a6;
  font-weight: 700;
  line-height: 42px;
  float: left;
}

.rightword {
  color: #333333;
  line-height: 42px;
  float: right;
}

.padd {
  padding-bottom: 80px;
}

.chart {
  text-align: left;
  padding-bottom: 10px;
  color: #a6a6a6;
  padding-left: 15vw;
  font-size: 16px;
  font-weight: 700;
}

main img {
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .stats {
    margin-left: 80px;
    margin-right: 20px;
  }
  .links {
    margin-left: 80px;
    margin-right: 20px;
  }
  .section-title {
    text-align: center;
    font-size: 25px;
  }
  .calendar {
    margin: 19px 10px 5px;
  }
  .btnarrow {
    margin-bottom: 24px;
  }
  .data {
    padding-left: 5px;
  }
  main img {
    width: 100%;
  }
  .value {
    display: none;
  }
  .user {
    display: none;
  }
  .chart {
    text-align: center;
    font-size: 25px;
    padding-left: 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: lightgray;
  text-align: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.far {
  width: 16px;
  height: 15px;
}

.center {
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 768px) {
  .reference {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }
  .reference:hover {
    background: white;
  }
  .numbers {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
  }
  .padd {
    padding-bottom: 60px;
  }
  .facts {
    width: 65vw;
  }
  .rightside {
    width: auto;
    margin-right: 0;
  }
  .leftside {
    padding-left: 0px;
  }
  .logo > a {
    font-size: 30px;
    padding-left: 21vw;
  }
  .men {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: white;
  }
  .menager {
    display: block;
  }
  .right {
    padding-right: 6px;
    width: 25vw;
  }
  .left {
    padding-right: 6px;
    width: 25vw;
  }
  .michael {
    padding-left: 41%;
    display: -ms-flexbox;
    display: flex;
  }
  .photo {
    display: none;
  }
  .icon {
    color: white;
  }
  .ajax {
    display: inline;
  }
  .reference:hover .rightside {
    width: auto;
    margin: 0;
  }
  .layer {
    display: inline-block;
    margin-left: 10%;
    font-size: 15px;
  }
}

@media (max-width: 950px) {
  img {
    width: 65vw;
  }
}

@media (max-width: 600px) {
  .michael {
    padding-left: 33%;
  }
}

@media (max-width: 321px) {
  .calendar {
    padding: 8px;
  }
}
/*# sourceMappingURL=style.css.map */