@import "sass/variables";
@import "sass/mixins";
@import "sass/normalize";

@import "components/header";

@import "sections/sidebar";
@import "sections/topmenu";
@import "sections/seclinks";
@import "sections/secgeneral";

* {
  box-sizing: border-box;
}

body {
  background: lightgray;
  text-align: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

//RWD 
@media (max-width: 768px) {
  .sidebar {
    transition: 0.2s;
    width: 100%;
    height: 100%;
    font-size: 80px;
    overflow: auto;

    &.visible {
      width: 65px;
    }
  }

  .logo {
    text-align: center;
    padding-top: 10px;

    &.visible {
    }
  }

  .toggle-menu {
    &.visible {
      padding-top: 10px;
      padding-left: 5px;
    }
  }

  .info {
    font-size: 25px;
    margin: 20px 0;
    padding-left: 15px;
  }

  .top {
    text-align: right;
    width: 100%;
    font-size: 23px;
  }

  .stats {
    margin-left: 80px;
    margin-right: 20px;
  }

  .links {
    margin-left: 80px;
    margin-right: 20px;
  }

  .section-title {
    text-align: center;
    font-size: 25px;
  }

  .calendar {
    margin: 19px 10px 5px;
  }

  .btnarrow {
    margin-bottom: 24px;
  }

  .data {
    padding-left: 5px;
  }

  main img {
    width: 100%;
  }

  .value {
    display: none;
  }

  .user {
    display: none;
  }

  .chart {
    text-align: center;
    font-size: 25px;
    padding-left: 0;
  }

  .reference {
    flex-direction: column;
    align-items: center;
  }

  .numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
  }

  .padd {
    padding-bottom: 60px;
  }

  .facts {
    width: 65vw;
  }

  .rightside {
    width: auto;
    margin-right: 0;
  }

  .leftside {
    padding-left: 0px;
  }

  .logo > a {
    font-size: 30px;
    padding-right: 10px;
  }

  .men {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: white;

    &.visible {
      display: none;
    }
  }

  .menager {
    display: block;
  }

  .right {
    padding-right: 6px;
    width: 25vw;
  }

  .left {
    padding-right: 6px;
    width: 25vw;
  }

  .michael {
    padding-left: 41%;
    display: none;

    &.visible {
      display: flex;
    }
  }

  .photo {
    display: block;

    &.visible {
      display: none;
    }
  }

  .icon {
    color: #999999;

    &.visible {
      color: white;
    }
  }

  .ajax {
    display: inline;

    &.visible {
      display: none;
    }
  }

  .reference:hover {
    background: white;
  }

  .reference:hover .rightside {
    width: auto;
    margin: 0;
  }

  .layer {
    display: inline-block;
    margin-left: 10%;
    font-size: 15px;
  }
}

@media (max-width: 950px) {
  img {
    width: 65vw;
  }
}

@media (max-width: 600px) {
  .michael {
    padding-left: 33%;
  }
}

//zmiana dodaj ip5
@media (max-width: 321px) {
  .calendar {
    padding: 8px;
  }
}
