nav {
  background-color: #ffffff;
  text-align: right;
  padding: 12px 0 16px;
  width: auto;
}

nav a {
  color: #9c9c9c;
  text-decoration: none;
  width: 100px;
  padding: 15px;
  border-left: 1.5px solid #e3e3e3;
}

nav a:hover {
  color: #ffa200;
}

nav li {
  display: inline-block;
  position: relative;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.jingle {
  padding: 0;
}

.user {
  color: #56819f;
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
  padding-left: 7px;
}

.howtop:hover {
  background-color: #f5f5f2;
}

.fa-chevron-down {
  padding-left: 10px;
}

.value {
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
  color: #9c9c9c;
}

.data {
  color: #9c9c9c;
  padding-left: 5px;
}

.arrow {
  background: #f58220;
  padding: 10px;
  color: white;
  border-radius: 15%;
}
