.links {
  display: flex;
  flex-direction: column;
}

.stats {
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: block;
  margin: 20px;
  margin-left: 210px;
}

.graph {
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid #e3e3e3;
  color: #a6a6a6;
  font-family: Roboto;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.addflex {
  display: flex;
  justify-content: center;
}

.button {
  width: 127px;
  height: 40px;
  background-color: #f58220;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 3px;
  margin: 20px 0 20px 0;
}

.button:hover {
  background-color: #ffa200;
  cursor: pointer;
}

.text {
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
}

.flexlinks {
  display: flex;
  justify-content: space-evenly;
}

.flexlinks a {
  text-decoration: none;
  color: skyblue;
}

.bordlinks {
  border-bottom: 1px solid #e3e3e3;
  width: 70vh;
  display: flex;
  justify-content: space-between;
}

.bordlinks:hover {
  background: whitesmoke;
}

.leftside {
  color: #a6a6a6;
  font-weight: 700;
  line-height: 42px;
  padding-left: 20px;
}


.addflex {
  display: flex;
  justify-content: center;
}

.rightwordlinks {
  color: #56819f;
  line-height: 42px;
  float: right;
}

.rightwordlinks:hover {
  color: #ffa200;
  cursor: pointer;
}

.fish {
  display: flex;
  justify-content: space-evenly;
}

.razer {
  border-bottom: 1px solid #e3e3e3;
  width: 70vh;
  display: flex;
  justify-content: space-between;
}

.razer:hover {
  background: whitesmoke;
}

.razer {
  border-bottom: 1px solid #e3e3e3;
  width: 70vh;
  display: flex;
  justify-content: space-between;
}

.razer:hover .rightside {
  width: 50%;
  margin: auto;
  margin-right: unset;
}

.fish a {
  text-decoration: none;
  color: skyblue;
}

.razer:hover .layer {
  display: inline-block;
}

.layer {
  
  line-height: 42px;
  font-size: 13px;
  color: #999999;

}

.link {
  transform: rotate(45deg);
}