.links {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin: 20px;
  margin-left: 210px;
}

.links p {
  line-height: 42px;
  color: #ffffff;
  font-size: 18px;
}

.addflex {
  display: flex;
  justify-content: center;
}

.button {
  width: 127px;
  height: 40px;
  background-color: #f58220;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 3px;
  margin: 20px 0 20px 0;

  &:hover {
      background-color: #ffa200;
      cursor: pointer;
  }
}

.text {
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
}

#link {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: auto;
}

#link a {
  text-decoration: none;
  color: #56819f;
  //  display: block;   !do ustalenia!

  &:hover {
      color: #ffa200;
  }
}

.link {
  transform: rotate(45deg);
}

.fa-trash-alt {
  margin-left: 30px;
  margin-right: 28px;
}

.links-icon:hover {
  color: #f58220;
}

.leftside {
  color: #a6a6a6;
  font-weight: 700;
  line-height: 42px;
  padding-left: 20px;
}

.rightside {
  text-align: left;
  color: #333333;
  width: 25vh;
  line-height: 42px;
  margin-right: 187px;
  justify-content: center;
  text-align: justify;
}

.layer {
  display: inline-block;
  line-height: 42px;
  font-size: 13px;
  color: #999999;
  display: none;
}

.reference {
  border-bottom: 1px solid $border-color;
  width: 70.7vh;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  &:hover {
      background: whitesmoke;
  }
}

.reference:hover .layer {
  display: inline-block;
}

.reference:hover .rightside {
  width: 50%;
  margin: auto;
  margin-right: unset;
}

@media (max-width: 768px) {

  .links {
      margin-left: 80px;
      margin-right: 20px;
  }

  .rightside {
      width: auto;
      margin-right: 0;
  }

  .leftside {
      padding-left: 0px;
  }

  .reference {
      flex-direction: column;
      align-items: center;
      width: 100%;

      &:hover {
          background: white;
      }
  }

  .reference:hover .rightside {
      width: auto;
      margin: 0;
  }

  .layer {
      display: inline-block;
      margin-left: 10%;
      font-size: 15px;
  }
}