.howtop:hover {
  background-color: #f5f5f2;
}

.fix {
  margin-right: -5px;
}

.value {
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
  color: #9c9c9c;
}

.fa-chevron-down {
  padding-left: 10px;
}

.jingle {
  padding: 0;
}

nav {
  background-color: #ffffff;
  text-align: right;
  padding: 12px 0 16px;
  width: auto;
}

nav a {
  color: #9c9c9c;
  text-decoration: none;
  width: 100px;
  padding: 16px;
  border-left: 1.5px solid $border-color;
}

nav a:hover {
  color: #ffa200;
}

nav li {
  display: inline-block;
  position: relative;
}

.far {
  width: 16px;
  height: 15px;
}

.user {
  color: #56819f;
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
  padding-left: 7px;
}

.user:hover {
  color: #ffa200;
}